$form-content-width : 85%;

.container-signup {
    position: relative;
    width: 100vw;
    height: 100vh;

    .inbox-signup {
        background-color: white;
        width: 50vh;
        max-width: 90%;
        border-radius: 3vh;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        display: grid;
    }

    #signin-container {
        height: 60vh;
        // grid-template-rows: 30% 9% 9% 9% 6% 13% 11% 10%;
        grid-template-rows: 38% 12% 12% 20% 18%;
    }

    #signup-container {
        height: 82vh;
        grid-template-rows: 28% 7.5% 7.5% 7.5% 7.5% 8% 8% 14%;
    }
}

.logo {
    background: url('../assets/LOGO_transparente.png') no-repeat center;
    background-size: 18vh 100%;
    width: 100%;
    height: 18vh;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}

#signup,
#signin {
    margin-top: 5vh;
}

.sign-container {
    width: $form-content-width;
    height: 5vh;
    border: 0.2vh solid #444444;
    border-radius: 1.5vh;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;

    .google {
        background: url('../assets/google-logo.png') no-repeat center;
        background-size: 100% 100%;
        width: 3.5vh;
        height: 3.5vh;
        margin: 0.7vh 1vh 0px 0px;
    }

    .sign-button {
        height: 90%;
        padding-top: 3px;
        background-color: initial;
        color: #000;
        font-size: 2.3vh;
        text-align: center;
    }
}

.confirm-error {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    color: red;
    bottom: 32%;
}

.confirm-error-up {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    color: red;
    bottom: 21%;
}

.input-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;

    .input-box {
        width: $form-content-width;
        height: 100%;
        margin: auto;
        padding: 10px;
        border: 1px solid grey;
        border-radius: 1vh;
        font-size: 1.8vh;
        font-family: Arial;
    }

    .input-box-error {
        width: $form-content-width;
        height: 100%;
        margin: auto;
        padding: 10px;
        border: 2px solid red;
        border-radius: 1vh;
        font-size: 1.8vh;
        font-family: Arial;
    }

    .input-log {
        position: absolute;
        right: 9%;
        width: 7.5%;
        height: 70%;
        margin-top: 0.8vh;
    }

    .name {
        background: url('../assets/name-logo.PNG') no-repeat right;
        background-size: 2.5vh 2.5vh;
        margin-right: 0.3vh;
    }

    .email {
        background: url('../assets/email-logo.PNG') no-repeat right;
        background-size: 3vh 2.5vh;
        margin-right: 0.2vh;
    }

    .password {
        background: url('../assets/password-logo.PNG') no-repeat right;
        background-size: 2.8vh 2vh;
        margin-right: 0.17vh;
        cursor: pointer;
    }
}

.confirm-container {
    display: flex;
    width: $form-content-width;
    margin: auto;

    input {
        width: 2vh;
        height: 2vh;
        margin-right: 5%;
        margin-top: 1%;
        cursor: pointer;
    }

    label {
        width: 90%;
        font-size: 1.7vh;
        cursor: pointer;
    }
}

.confirm-container-error {
    display: flex;
    width: $form-content-width;
    margin: auto;
    color: red;

    input {
        width: 2vh;
        height: 2vh;
        margin-right: 5%;
        margin-top: 1%;
        cursor: pointer;
    }

    label {
        width: 90%;
        font-size: 1.7vh;
        cursor: pointer;
    }
}

.navi-sign {
    display: flex;
    justify-content: center;
    font-size: 2vh;
    margin-top: 1vh;

    .navi {
        margin-left: 15px;
        text-decoration: underline;
        cursor: pointer;
    }
}